.container {
  padding: 80px;
  background-color: #f6f9fb;
}

.header {
  margin-bottom: 80px;
  font-size: 52px;
  text-align: center;
}

.card {
  display: flex;
  gap: 40px;
  color: #232f47;
  margin-bottom: 65px;

  .cardHeader {
    flex: 1;
  }

  .cardTitle {
    font-size: 40px;
  }

  .cardBody {
    flex: 1;
    font-size: 24px;
    line-height: 48px;
  }
}
