.container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.content {
  max-width: 1144px;
  margin: 0 auto;
}

.header {
  font-size: 52px;
  margin-bottom: 80px;
  text-align: center;
}

.logoGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-items: center;
  align-items: center;
  gap: 32px;
}

.logoDisplayLink {
  display: block;
  width: 100%;
}

.logoDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;

  .imageContainer {
    transition: transform 0.25s ease-in-out;
  }

  &:hover .imageContainer {
    transform: scale(1.2);
  }

  .hoverImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100%;
    height: 100px;
    width: 100px;
    background-color: #ffffffdd;
    transition: all 0.3s ease-in-out;
  }

  &:hover .hoverImageContainer {
    top: 0;
  }
}
